.top {
  position: absolute;
  width: 155px;
  height: 158px;
  left: 493px;
  bottom: 440px;
  background-image: url("../public/static/login-svgrepo-com.svg");
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  width: 261px;
  height: 35px;
  left: 453px;
  bottom: 390px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #1a202c;
}

.form {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 230px;
  margin-left: 100px;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.form > div {
  width: 500px;
}

#name {
  width: 350px;
}
#pass {
  width: 350px;
}
.radio {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.radio h4 {
  padding-left: 50px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.button button {
  width: 380px;
  height: 30px;
  background: rgb(90, 90, 218);
  border-radius: 4px;
  justify-content: center;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.register {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
  margin-left: 414px;
  width: 385px;
  background-color: aquamarine;
  border-radius: 3px;
  border: 2px groove beige;
  height: 30px;
  align-items: center;
  padding-right: 150px;
}
.register:hover {
  opacity: 0.5;
  color: rgb(88, 158, 135);
  border-color: gold;
}

/* trail {
  align-items: center;
  color:#5ee7a7
} */
.warning {
  margin-left: 20px;
  width: 200px;
  margin-top: 20px;
  background-color: rgb(179, 46, 46);
  color: #e2f024;
  border-radius: 3px;
  border: 2px thick tan;
}
